@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

/*

GLOBAL STYLES

*/

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  color: #1c3666;
}

body {
  background: #bbdbe6;
}

.container {
  padding: 96px 0;
}

.row {
  margin: 0 auto;
  max-width: 1200px;
}

a {
  text-decoration: none;
}

#landing-page,
#shows-section {
  transition: all 0.5s ease-in-out;
}

/*

NAVIGATION BAR

*/

nav {
  display: flex;
  justify-content: space-between;
}

.nav__row {
  margin: 5vh auto;
}

.nav__logo--wrapper {
  display: flex;
  padding: 12px;
}

.nav__logo--img {
  height: 100px;
}

.nav__links {
  display: flex;
  align-items: center;
}

.nav__link {
  margin: 20px;
  padding: 12px 16px;
  border-radius: 32px;
  background-color: #ffffffb3;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

.nav__link:hover {
  background-color: #ffffff;
  transform: scale(1.1);
}

.nav__link:active {
  transform: scale(1);
}

/*

HEADER

*/

.header__description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__title {
  font-weight: 900;
  font-size: 48px;
  margin: 8px 0 16px;
  text-align: center;
}

.header__input {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}

.header__input--bar {
  width: 80%;
  text-align: center;
  padding: 16px 10%;
  border-radius: 12px;
  outline: none;
  font-size: 20px;
  border: 2px solid transparent;
  background-color: #f4faff;
}

.header__input--bar:focus {
  border-color: #13205a;
}

.header__input--btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 12%;
  border: none;
  padding: 0;
  display: flex;
  transition: all 0.2s ease-in-out;
  background-color: transparent;
}

.header__input--btn:hover {
  transform: translateY(-50%) scale(1.1);
}

.header__input--btn:active {
  transform: translateY(-50%) scale(1);
}

.fa-magnifying-glass {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  padding: 12px;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
  background-color: #1c3666;
  color: #bbdbe6;
}

/*

SHOWS

*/

.shows {
  display: flex;
  flex-wrap: wrap;
  gap: 24px 12px;
  justify-content: center;
  height: auto;
}

.show--wrapper{
display: flex;
}

.show {
  background-color: #f4faff;
  filter: brightness(0.95);
  display: flex;
width: 576px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

.show:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  filter: brightness(1);
}

.show__description {
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.5;
  font-weight: bold;
  flex: 2;
}

.show__name {
  margin-bottom: 24px;
  font-size: 28px;
}

.show__description--text {
  font-weight: normal;
  font-size: 14px;
}

.show__img--wrapper {
  display: flex;
  flex: 1;
  margin-left: 16px;
  transition: all 0.3s ease-in-out;
  position: relative;
}

.show__img {
  transition: all 0.3s ease-in-out;
}

.show__img--link {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #f4faff;
  transition: all 0.3s ease-in-out;
  text-align: center;
  font-weight: bold;
}

.show__img--wrapper:hover .show__img {
  filter: brightness(0.5) blur(5px);
}

.show__img--wrapper:hover .show__img--link {
  opacity: 1;
}

.show__summary-modal--wrapper {
  position: fixed;
    top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 12px;
  opacity: 0;
  visibility: hidden;
  width: 70vw;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in-out;
  
}

.show__summary-modal {
  width: 100%;
  padding: 48px;
  position: relative;
  background-color: #f4faff;
  border-radius: 12px;
  transition: all 0.3s ease-in-out;
}

.dim #landing-page,
.dim .show {
  filter: brightness(0.9) blur(10px);
  pointer-events: none;
}

.view-summary .show__summary-modal--wrapper {
  opacity: 1;
  visibility: visible;
  z-index: 1;
}

.view-summary .show__summary-modal--wrapper {
  opacity: 1;
  visibility: visible;
  z-index: 1;
}

.show__summary {
  font-size: 18px;
  margin-bottom: 12px;
  font-weight: 500;
}

.fa-times {
  position: absolute;
  top: 16px;
  right: 16px;
  font-size: 24px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.fa-times:hover {
transform: scale(1.1);
}

.fa-times:active {
  transform: scale(1);
}

.fa-spinner{
  animation: spin .7s infinite linear;
  font-size: 48px;
  margin: 10px;
  overflow: hidden;

}

@keyframes spin {

  0%{
    transform: rotate(0deg);
  }
  
  
  100%{
    transform: rotate(360deg);
  }
}