@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

/*

GLOBAL STYLES

*/

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
  background-color: #bbdbe6;
  color: #1c3666;
}

.container {
  padding: 96px 0;
}

.row {
  margin: 0 auto;
  max-width: 1200px;
}

a {
  text-decoration: none;
}

/* button{
  cursor: pointer;
} */

/*

NAVIGATION BAR

*/

nav {
  display: flex;
  justify-content: space-between;
}

.nav__row {
  margin: 5vh auto;
}

.nav__logo--wrapper {
  display: flex;
  padding: 12px;
}

.nav__logo--img {
  height: 100px;
}

.nav__links {
  display: flex;
  align-items: center;
}

.nav__link {
  margin: 20px;
  padding: 12px 16px;
  border-radius: 32px;
  background-color: #31718e8a;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

.nav__link:hover {
  background-color: #1f688aaf;
  transform: scale(1.1);
}

/*

HEADER

*/

.header__description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__title {
  font-weight: 900;
  font-size: 48px;
  margin: 8px 0 16px;
  text-align: center;
}

.header__input {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}

.header__input--bar {
  width: 80%;
  text-align: center;
  padding: 16px 10%;
  border-radius: 12px;
  outline: none;
  font-size: 20px;
  border: 1px solid #13205a;
  transition: all 0.1s ease-in-out;
}

.header__input--bar:focus {
  border-width: 3px;
}

.header__input--btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 12%;
  border: none;
  padding: 0;
  display: flex;
  transition: all 0.2s ease-in-out;
  border-radius: 50%;
}

.header__input--btn:hover {
  transform: translateY(-50%) scale(1.1);
}

.fa-magnifying-glass {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  padding: 12px;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
  background-color: #1c3666;
  color: #bbdbe6;
}
