.searchInput {
  width: 100%;
}

.searchInputIcon {
  padding: 12px;
}

.searchInputBar{
  text-align: center;
}

@media (max-width: 540px) {
  .searchInputBar {
    font-size: 14px;
  }
}

@media (max-width: 450px) {
  .searchInputBar {
    font-size: 16px;
  }
  .searchInputIcon {
    padding: 8px;
  }
}