#landingPage{
  min-height: 70vh;
}

.headerDescription {
  animation: fadeIn 1s linear;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerTitle {
  font-weight: 900;
  font-size: 40px;
  margin-bottom: 16px;
  text-align: center;
  padding: 0 10%;
}

.headerImgWrapper {
  margin-top: 20px;
  height: 50vh;
  width: 80%;
  display: flex;
  justify-content: center;
  min-width: 240px;
  max-width: 800px;
}

.headerImg {
  height: 100%;
}

@keyframes fadeIn {
  0%{
    opacity: 0;
  }

  100%{
    opacity: 1;
  }
  
}

@media (max-width: 860px) {
  .headerTitle {
    font-size: 32px;
  }
}

@media (max-width: 540px) {
.headerImgWrapper {
    margin-top: 0;
  }
}

@media (max-width: 450px) {
  .headerTitle {
    font-size: 24px;
  }
}
