nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.navLogoWrapper {
  display: flex;
  width: 20%;
  min-width: 150px;
}

.navLogoImg {
  width: 100%;
}

.navLink:active {
  transform: scale(1);
}

@media (max-width: 860px) {
  .navLogoWrapper {
    max-height: 70px;
  }

  .headerTitle {
    font-size: 44px;
  }
}
