.navRow {
  margin: 0 auto;
  border: none;
}

.navLogoWrapper {
  display: flex;
  width: 20%;
  min-width: 150px;
}

.navLogoImg {
  width: 100%;
}

.navLinks {
  display: flex;
  align-items: center;
}

.navLink {
  margin: 20px;
  padding: 12px 16px;
  border-radius: 32px;
  background-color: #ffffffcc;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

.navLink:hover {
  background-color: #ffffff;
  transform: scale(1.1);
}

.navLink:active {
  transform: scale(1);
}

@media (max-width: 860px) {
  .navLogoWrapper {
    max-height: 70px;
  }

  .headerTitle {
    font-size: 44px;
  }
}
