.footerRow {
  width: 100%;
  background-color: #2f3e4e;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  position: sticky;
  bottom: 0;
}

.footerDescription {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 70%;
}

.footerLogo {
    display: flex;
    align-items: center;
    width: 20%;
    min-width: 140px;
}

.footerLogoImg {
    filter: invert(0.5);
    height: 100%;
}

.footerCopyright {
    color: gray;
    font-size: 14px;
}
