/*

GLOBAL STYLES

*/

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}

p,
h1,
h2,
span,
a,
input {
  color: #1c3666;
}

body {
  background: #bbdbe6;
}

html {
  overflow-y: visible;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  padding: 96px 0;
}

.row {
  margin: 0 auto;
  max-width: 1200px;
}

a {
  text-decoration: none;
}

#landingPage,
nav,
#showsSection {
  transition: all 0.5s ease-in-out;
}

/*

HEADER

*/

/*

SHOWS

*/

.shows {
  display: flex;
  flex-wrap: wrap;
  gap: 24px 12px;
  justify-content: center;
  height: auto;
  overflow: hidden;
}

.showWrapper {
  display: flex;
  width: 45%;
  aspect-ratio: 2/0.9;
  overflow: hidden;
  border-radius: 12px;
  animation: enter 0.7s linear;
}

@keyframes enter {
  0% {
    transform: translateY(-20%);
    opacity: 0;
    visibility: hidden;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }
}

.show {
  background-color: #f4faff;
  width: 100%;
  filter: brightness(0.95);
  display: flex;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

.show:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  filter: brightness(1);
}

.showDescription {
  padding: 12px 0 12px 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  line-height: 1.5;
  font-weight: bold;
  flex: 2;
}

.showName {
  font-size: 24px;
}

.showDescriptionText {
  font-weight: normal;
  font-size: 14px;
}

.showImgWrapper {
  display: flex;
  flex: 1;
  margin-left: 16px;
  transition: all 0.3s ease-in-out;
  position: relative;
}

.showImg {
  transition: all 0.3s ease-in-out;
}

.showImgLink {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #f4faff;
  transition: all 0.3s ease-in-out;
  text-align: center;
  font-weight: bold;
}

.showImgWrapper:hover .showImg {
  filter: brightness(0.5) blur(5px);
}

.showImgWrapper:hover .showImgLink {
  opacity: 1;
}

.showSummaryModalWrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 12px;
  opacity: 0;
  visibility: hidden;
  width: 70vw;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in-out;
  z-index: 1;
}

.showSummaryModal {
  width: 100%;
  padding: 48px;
  position: relative;
  background-color: #f4faff;
  border-radius: 12px;
  transition: all 0.3s ease-in-out;
}

.dim {
  position: fixed;
  width: 100vw;
}

.dim #landingPage,
.dim nav,
.dim .show {
  filter: brightness(0.9) blur(10px);
  pointer-events: none;
}

.viewSummary .showSummaryModalWrapper {
  opacity: 1;
  visibility: visible;
}

.showSummary {
  font-size: 18px;
  margin-bottom: 12px;
  font-weight: 500;
}

.faTimes {
  position: absolute;
  top: 16px;
  right: 16px;
  font-size: 24px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.faTimes:hover {
  transform: scale(1.1);
}

.faTimes:active {
  transform: scale(1);
}

.faSpinner {
  animation: spin 0.7s infinite linear;
  font-size: 48px;
  margin: 10px;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  transition: all 0.1s ease-in-out;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loading .faSpinner {
  visibility: visible;
  opacity: 1;
}

.loading .showWrapper {
  opacity: 0;
}

/*

RESPONSIVENESS

*/

@media (max-width: 1024px) {
  .showName {
    font-size: 20px;
  }

  .showDetails,
  .showDescriptionText {
    font-size: 14px;
  }
}

@media (max-width: 860px) {
  .showWrapper {
    width: 90%;
  }

  .showName {
    font-size: 24px;
  }

  .showDetails,
  .showDescriptionText {
    font-size: 18px;
  }
}

@media (max-width: 540px) {
  .showWrapper {
    width: 90%;
  }

  .showName {
    font-size: 20px;
  }

  .showDetails,
  .showDescriptionText {
    font-size: 14px;
  }

  .showSummaryModal {
    padding: 32px;
  }

  .showSummary {
    font-size: 14px;
    margin-bottom: 12px;
    font-weight: 500;
  }

  .showLink,
  .showImgLink {
    font-size: 12px;
  }
}

@media (max-width: 450px) {
  .showWrapper {
    width: 90%;
  }

  .showName {
    font-size: 16px;
  }

  .showDetails,
  .showDescriptionText {
    font-size: 12px;
  }
}
