/*

GLOBAL STYLES

*/

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}

p,
h1,
h2,
h3,
span,
a,
input {
  color: #1c3666;
}

body {
  background: #bbdbe6;
}

html {
  overflow-y: visible;
}

.container {
  padding: 96px 0;
}

.row {
  margin: 0 auto;
  max-width: 1200px;
}

a {
  text-decoration: none;
}

#landingPage,
nav,
#showsSection {
  transition: all 0.5s ease-in-out;
}

/*

HEADER

*/

/*

SHOWS

*/



.dim {
  position: fixed;
  width: 100vw;
}

.dim #landingPage,
.dim nav,
.dim .show {
  filter: brightness(0.9) blur(10px);
  pointer-events: none;
}

.viewSummary .showSummaryModalWrapper {
  opacity: 1;
  visibility: visible;
}

/* .showSummary {
  font-size: 18px;
  margin-bottom: 12px;
  font-weight: 500;
} */

.faTimes {
  position: absolute;
  top: 16px;
  right: 16px;
  font-size: 24px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.faTimes:hover {
  transform: scale(1.1);
}

.faTimes:active {
  transform: scale(1);
}

.faSpinner {
  animation: spin 0.7s infinite linear;
  font-size: 48px;
  margin: 10px;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  transition: all 0.1s ease-in-out;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loading .faSpinner {
  visibility: visible;
  opacity: 1;
}

.loading .showWrapper {
  opacity: 0;
}

/*

RESPONSIVENESS

*/

@media (max-width: 1024px) {
  .showName {
    font-size: 20px;
  }

  .showDetails,
  .showDescriptionText {
    font-size: 14px;
  }
}

@media (max-width: 860px) {
  .showWrapper {
    width: 90%;
  }

  .showName {
    font-size: 24px;
  }

  .showDetails,
  .showDescriptionText {
    font-size: 18px;
  }
}

@media (max-width: 540px) {
  .showWrapper {
    width: 90%;
  }

  .showName {
    font-size: 20px;
  }

  .showDetails,
  .showDescriptionText {
    font-size: 14px;
  }

  .showSummaryModal {
    padding: 32px;
  }

  .showSummary {
    font-size: 14px;
    margin-bottom: 12px;
    font-weight: 500;
  }

  .showLink,
  .showImgLink {
    font-size: 12px;
  }
}

@media (max-width: 450px) {
  .showWrapper {
    width: 90%;
  }

  .showName {
    font-size: 16px;
  }

  .showDetails,
  .showDescriptionText {
    font-size: 12px;
  }
}
